<nav>
            <div class="logo">
             <li class="liLogo"><a routerLink="/home"><img src="/assets/img/logo.png" alt="" /></a></li>
            </div>
        <div class="navbar">
            <ul>
            <li> <a routerLink="/home"><img src="/assets/img/home.png" alt="Accueil" /></a></li>
            <li> <a routerLink="/exercice"><img src="/assets/img/bibliothèque.png" alt="Exercices" /></a></li>
            <li> <a routerLink="/programme"> <img src="/assets/img/calendar.png" alt="Programme" /></a></li>
            <li> <a routerLink="/profil"><img src="/assets/img/patients.png" alt="Profil" /></a></li>
            <li> <a routerLink="/contact"><img src="/assets/img/mail.png" alt="Contact" /></a></li> 
            <li> <a routerLink="/parametre"><img src="/assets/img/settings.png" alt="Parametres" /></a></li>
            <li> <a routerLink="/login"><img src="assets/img/logout.png" alt="Logout" /></a></li>

            </ul>
        </div>
        </nav>
