.container{
  width: 100vw;
  height: 50vw;
  display: flex;
}

.background{
  background-color: #E2E2E2;
  border-radius: 25px;
  margin: 2%;
  width: 85vw;
  height: 95%;
  display: flex;

}

.head {
  display: flex;
    text-align: center;
    align-items: center;
    width:100%;
    height: 10%;

            h1{
                width: 63%;
                text-align: end;
                font-weight: bold;
                font-size: 30px;
            }


            .imghead{
                display: flex;
                justify-content: flex-end;
                height: 3vw;
                width: 50%;

                a {
                    margin-right: 3%;
                }
            }
}


