<section class="container" >
<app-navbar></app-navbar>
<article class="background">
    <div class="head">
        <h1>Contact</h1>
          <div class="imghead">
              <a routerLink = "/contact ">  <img src="/assets/img/donations.png"></a>
              <a routerLink = "/notification">  <img src="/assets/img/bell.png"></a>
          </div>
    </div>
        <div class="faq">
        <span>FAQ</span>
        <li class="bloc-faq">
          <label class="bloc-accordeon" for="faq">
          <span></span>
          </label>
          <input id ="faq" ttype="checkbox"/>
          <ul class="sub">
            <li>Question numero 1!!</li>
            <li>Question numero 2!!</li>
          </ul>
        </li>
        <li class="bloc-faq">
          <label class="bloc-accordeon" for="faq">
          <span>Contact Kiné</span>
          </label>
          <input id ="faq" ttype="checkbox"/>
          <ul class="sub">
            <li>
            <div class="bloc-kine">
                Kinésithérapeute:
            </div>
            </li>
            <li>Trouver un Kiné + lien vers google </li>
          </ul>
        </li>
        </div>
    </article>
</section>
