.background{
    background-color: #E2E2E2;
    border-radius: 25px;
    margin: 2%;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .head{
       display: flex;
        text-align: center;
        align-items: center;
        width:80%;
        height: 10%;

        h1{
            width: 50%;
            text-align: end;
        }


        .imghead{
            display: flex;
            justify-content: flex-end;
            height: 3vw;
            width: 50%;

             a {
                 margin-right: 3%;
             }
        }
    }
}
