<section>
<div class="c">
  <input type="checkbox" id="faq-1">
  <h1><label for="faq-1">FAQ</label></h1>
  <div class="p">
    <p>Question numéro 1</p>
    <p>Question numéro 2</p>
  </div>
</div>


<div class="c">
  <input type="checkbox" id="faq-2">
  <h1><label for="faq-2">Contact Kinésithérapeute</label></h1>
  <div class="p">
    <p>Kinésithérapeute</p>
  </div>
</div>


<div class="c">
  <input type="checkbox" id="faq-3">
  <h1><label for="faq-3">Aides et Associations</label></h1>
  <div class="p">
    <p>Lien pour les associations et les aides</p>
  </div>
</div>


<div class="c">
  <input type="checkbox" id="faq-4">
  <h1><label for="faq-4">Contactez nous</label></h1>
  <div class="p">
    <p>Adresse postale</p>
  </div>
 </div>



 <div class="c">
  <input type="checkbox" id="faq-5">
  <h1><label for="faq-5">Faire un don</label></h1>
  <div class="p">
    <p>Adresse postale pour les dons</p>
 </div>
</div>
</section>
