<section class="container" >
<app-navbar></app-navbar>
<article class="background">
    <div class="head">
        <h1>Paramètres</h1>
          <div class="imghead">
              <a routerLink = "/contact ">  <img src="/assets/img/donations.png"></a>
              <a routerLink = "/notification">  <img src="/assets/img/bell.png"></a>
          </div>
    </div>
    <div class="block">
          <div *ngFor="let parametre of parametres" class="blockparam"><img src="/assets/img/parametres/{{parametre.image}}">
              <p>{{parametre.description}} </p>
          </div>
    </div>

    </article>
</section>
